@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.display-font {
  font-family: 'Bowlby One SC', cursive;
}

.bg {
  /* background-image: url('./bg2.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.display-container {
  position: relative;
  top: 180px;
  left: 180px;
}

.left,
.right {
  height: 100vh;
  width: 100%;
}

.right {
  /* background-color: rgb(224, 113, 158); */
  background-image: url('./bg2.png');
}

h1 {
  text-shadow: 5px -5px 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff;
}

.icon-link {
  color: black;
}

#insta:hover {
  color: white;
}

#git-h:hover {
  color:rgb(224, 113, 158);
}